body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css or any global CSS file */
#image{
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border:  2px soloid white;
  transition: all ease-out 1s;
}
#image img:hover{
  width: 100%;
}
